.cta-bg {
  background: #b6b9b8;
  height: 500px;
  background-size: cover;
  background-position: center;
  position: relative;
}
.overlay {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.cta-text {
  padding-top: 70px;
  z-index: 10;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 500px;
}
.cta-group {
  padding: 50px;
}
