.profile-block {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: rgb(92, 88, 88);
  height: 60px;
  border-radius: 5px;
}

.profile-btn {
  padding-top: 10px;
  padding-right: 15px;
  padding-left: 30px;
  height: 30px;
  width: 250px;
}

.btn-class {
  width: 150px;
  height: 35px;
  background-color: rgb(126, 121, 126);
  font-size: 20px;
  color: white;
  font-family: "Courier New", Courier, monospace;
}

.btn-last {
  padding-top: 10px;
  padding-left: 1700px;
}

.image-a {
  display: flex;
  flex-direction: row;
  padding: 30px;
}

.image-b {
  margin: 30px;
}

.block-a {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  padding-top: 30px;
  padding-left: 500px;

}
